* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(231, 205, 255);
}

.container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 800px;
    height: 600px;
    background-color: white;
    box-shadow: var(--shadow-elevation-high);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px purple;
}


#input {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.to-dos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-weight: bold;
    color: plum;
    text-shadow: 1px 1px 1px gray;
    text-align: center;
}

#inputField {
    width: 600px;
    border: 1px solid #ffc008;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

